body{
    background-color: rgb(75, 158, 130);
    margin: 0 0;
}
.topbar{
    height:40px;
    width:100%;
    
    background-color: rgb(13, 133, 87);
}
.navbar{
    height:40px;
    width:200px;
    position: relative;
    display: inline-block;
    background-color: rgb(13, 133, 87);
}
.navbar:hover{
    height:40px;
    width:200px;
    position: relative;
    display: inline-block;
    background-color: rgb(95, 160, 135);
}
h3{
    color: white;
}

#slidebox{
    overflow: hidden;
    }
#slidebox figure{
    height:400px;
    width:80%;
    position: relative;
    animation: 20s slidebox infinite;

}
.slides
{
    display: none;
}
#prev{
    height: 40px;
    width: 60px;
    border-radius: 10%;
    
    background-color:  rgba(23, 17, 48, 0.521);
}
#next{
    height: 40px;
    width: 60px;
    border-radius: 10%;
    
    background-color: rgba(23, 17, 48, 0.521);
}